html {
    overflow-x:hidden;
}

body {
    background-color: black;
}

/* navbar stuff  */

.navbar {
    background-color: rgb(24, 24, 24);
}

.navbar-brand {
    color:white;
}

.navbar-brand:hover {
    color:grey;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color:grey;
}

/*jumbotron stuff*/
.jumbotron {
    background-image:url(imgs/jamesMonroe.avif);
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    color:white;
    height:800px;
    filter: brightness(0.8);
    box-shadow:inset 0px -130px 150px 0px black;
    position:relative;
    z-index:0;
    padding-top:400px;
    margin-top:50px;
}

.jumbotronheader1 {
    font-size:110px;
    font-family: "ivyora-display", sans-serif;
font-weight: 700;
font-style: italic;
margin-top:400px;
}

/* early life */
.earlyLifeHeading {
    font-size:50px;
    color:white;
}

.earlyLifeParagraph {
    font-size: 20px;
    color:white;
}

/* carousel 1 */
.carousel1img {
    width:400px;
    height:500px;
}

#carouselExampleCaptions {
    width:400px;
    height:500px;
}

.carousel-caption {
    background-color:black;
    opacity:0.9;
    width:270px;
}


/* education section */

.educationHeading {
    color:white;
    font-size:50px;
}

.educationParagraph {
    font-size: 20px;
    color:white;
}

/* carousel 2 */

#carouselExampleCaptions2 {
    height:400px;
    width:500px;
}

.crslimg2 {
    height:400px;
}


/* footer  */

#footer {
    box-shadow:inset 0px 130px 150px 0px black;
    background-color:rgb(26, 26, 26);
}

.footerHeading {
    margin-top:170px;
    color:white;
    font-size:50px;
}

.citations {
    font-size:20px;
    color:white;
    line-height: 40px;
}